<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>AlertAi - Recuperar contraseña</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/theme.css}">
  <link rel="icon" type="image/png" href="/img/icon-nav.png">
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
  
  <div class="modal-dialog" style="width: 550px;">
    <div class="modal-content">
      <div class="modal-body p-5">
        <a href="/signin" class="back-link"><p><i class="bi bi-arrow-left-short"></i><span>Atrás</span></p></a>
        
        <div class="mt-5">
          <form th:action="@{/reset-password}" method="post">
            <div class="mb-4">
              <input type="hidden" name="token" th:value="${token}">
              <input type="password" name="password" required placeholder="Nueva contraseña">
            </div>
            <div class="sumit">
              <button type="submit" class="btn btn-sumit">Actualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

 

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/script.js}"></script>
  <script th:src="@{/js/theme.js}"></script>

</body>
</html>



<form th:action="@{/reset-password}" method="post">
    <input type="hidden" name="token" th:value="${token}">
    <label>Nueva contraseña:</label>
    <input type="password" name="password" required>
    <button type="submit">Actualizar</button>
</form>

<p th:if="${error}" th:text="${error}" style="color: red;"></p>
