<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>AlertAi - Token inválido</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
  <link rel="stylesheet" th:href="@{/css/user.css}">
  <link rel="stylesheet" th:href="@{/css/event.css}">
  <link rel="stylesheet" th:href="@{/css/theme.css}">
  <link rel="icon" type="image/png" href="/img/icon-nav.png">
</head>
<body>
   <!-- MENÚ -->
  <header>
    <nav class="navbar-user sticky-top">
      <!-- LOGO -->
      <div class="branding">
        <a th:href="${user != null} ? @{/user/home} : @{/}">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
            <path d="M177.18,307.9c-1.48,.35-2.9-.76-2.91-2.28-.02-4.67-.06-9.17,.1-13.66,.03-.94,1.12-2.25,2.04-2.68,14.3-6.69,21.11-17.92,21.07-33.63-.03-10.86-.37-21.78,.63-32.57,2.4-25.83,26.36-46.37,52.31-45.56,27.24,.85,49.57,21.69,50.93,47.96,.53,10.33,.23,20.69,.32,31.04,.13,15.59,7.32,26.58,21.58,32.85,1.82,.8,2.56,1.63,2.5,3.65-.12,4.21-.07,8.42-.06,12.85,0,1.52-1.42,2.67-2.9,2.3-10.48-2.66-18.98-7.9-25.97-15.74-9-10.1-13.22-22.06-13.28-35.52-.04-8.93,.01-17.86-.01-26.79-.05-19.4-14.85-34.37-34.01-34.44-18.88-.07-33.75,15.17-33.87,34.6-.07,11.12,.26,22.29-.58,33.36-1.58,20.67-18.08,39.58-37.88,44.26Z"></path>
            <path d="M225.8,297.54h47.53c1.3,0,2.38,1.06,2.35,2.36-.25,10.42-10.99,20.99-23.44,22.43-13.71,1.59-26.11-7.94-28.76-22-.27-1.45,.84-2.79,2.31-2.79Z"/>
          </svg>
        </a>
      </div>

      <!-- MENÚ -->
      <div class="nav-left">
        <a th:href="${user != null} ? @{/user/home} : @{/}" th:text="#{profile.home}">Inicio</a>
        <a th:text="#{profile.category}">Categorías</a>
        <div class="dropdown">
          <button class="btn btn-sm btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-chevron-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
            <li th:each="category : ${categories}">
              <a class="dropdown-item" th:href="@{'/category/' + ${category.id} + '/events'}" th:text="${category.name}"></a>
            </li>
          </ul>
        </div>
        <a th:href="@{/event/allEvents}">Eventos</a>
        <a href="/contact" th:text="#{profile.contact}">Contacto</a>
        <a href="/help" th:text="#{profile.help}">Ayuda</a>
      </div>
    
      <!-- BUSCADOR -->
      <div class="search-bar">
        <form action="/search" method="get" id="searchForm" class="search-form" role="search">
          <input id="eventSearchInput" type="text" name="query" placeholder="Buscar eventos, categorías o creadores..." aria-label="Buscar eventos, categorías o creadores"/>
          <button type="submit" aria-label="Buscar"><i class="fas fa-search"></i></button>
        </form>
      </div>
    
      <!-- MENÚ DEL USUARIO -->
      <div class="nav-right">
        <!-- SI EL USUARIO HA INICIADO SESIÓN -->
        <div class="user-menu" th:if="${user != null}">
          <img th:src="${user.image != null} ? '/uploads/icons/' + ${user.image} : '/img/icon-default.png'" alt="Foto usuario">
          <span class="username">
            <span sec:authorize="!hasRole('ADMIN')" th:text="${user.name}"></span>
          </span>

          <div class="dropdown me-4">
            <button class="btn btn-sm btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-chevron-down"></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" th:href="@{/user/profile}">
                  <i class="fas fa-user me-1"></i>
                  <span>Perfil</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#settingsModal">
                  <i class="fas fa-cog me-1"></i>
                  <span th:text="#{profile.setting}">Configuración</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" href="/logout">
                  <i class="fas fa-sign-out-alt me-1"></i>
                  <span th:text="#{profile.logout}">Cerrar sesión</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- CAMBIAR THEME OCURO/CLARO -->
          <button id="theme-toggle-btn" class="btn btn-link theme-toggle-btn p-2" aria-label="Cambiar tema" title="Cambiar a modo oscuro">
            <i id="theme-icon" class="bi bi-lightbulb-fill fs-4"></i>
          </button>
        </div>

        <!-- SI EL USUARIO NO HA INICIADO SESIÓN -->
        <div class="guest-menu " th:unless="${user != null}">
          <a href="#" class="btn btn-signin-account" data-bs-toggle="modal" data-bs-target="#loginModal">Entrar</a>
          <a href="#" class="btn btn-register-account" data-bs-toggle="modal" data-bs-target="#RegisterModal">Crear cuenta</a>


          <!-- CAMBIAR THEME OCURO/CLARO -->
          <button id="theme-toggle-btn" class="btn btn-link theme-toggle-btn p-2" aria-label="Cambiar tema" title="Cambiar a modo oscuro">
            <i id="theme-icon" class="bi bi-lightbulb-fill fs-4"></i>
          </button>
        </div>
      </div>
    </nav>
  </header>

  <!--BANNER DEL EVENTO -->
  <section class="event-banner">
    <h1 class="mb-3 mt-5">Token expirado</h1>
    <p>El enlace de verificación ya no es válido. Puedes solicitar otro registrándote nuevamente.</p>
    <a href="/register" class="btn btn-danger mt-3">Vuelve a registrarte</a>
  </section>

  <!-- INICIAR SESIÓN -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-login-size">
      <div class="modal-content">
        <div class="modal-body p-5">
          <div class="text-center">
            <div th:if="${param.error}" class="alert alert-danger text-center small" role="alert">
                Correo o contraseña incorrectos. Intenta nuevamente.
            </div>
            <div th:if="${param.logout}" class="alert alert-success text-center small" role="alert">
                Has cerrado sesión exitosamente.
            </div>

            <h4 class="fw-bold">Iniciar sesión</h4>
          </div>

          <div class="d-grid text-center mt-4">
            <a href="/oauth2/authorization/google" class="btn btn-primary">
              <i class="bi bi-google mx-2"></i> Ingresar con Google
            </a>
          </div>

          <div class="text-center my-3 muted">O</div>

          <form th:action="@{/userLogin}" method="post">
            <div class="mb-3">
                <input type="email" name="username" class="form-control muted" placeholder="Correo electrónico" required>
            </div>
            <div class="mb-3 position-relative small">
              <input type="password" name="password" id="password" class="form-control muted" placeholder="Contraseña" required>
              <i id="togglePassword" class="bi bi-eye-slash position-absolute top-50 end-0 translate-middle-y me-3" style="cursor: pointer;"></i>
            </div>                
            <div class="mb-3 d-flex justify-content-between align-items-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me">
                <label class="form-check-label small" for="remember-me">Recuérdame</label>
              </div>
              <a href="/forgot-password" class="small forgot-password">¿Olvidaste la contraseña?</a>
            </div>
            <div class="sumit mt-2">
              <button type="submit" class="btn btn-sumit">Entrar</button>
            </div>

            <p class="text-center mt-4 small">
              Este sitio está protegido por reCAPTCHA Enterprise y se aplica la 
              <strong>Política de Privacidad</strong> y los 
              <strong>Términos de Servicios de Google</strong>.
            </p>
            <hr class="mt-3">

            <div class="text-center mt-3 small">
              <p>¿Es tu primera vez en AlertAi?
                <a href="register" class="ms-2"><strong>Regístrate.</strong></a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- CREAR CUENTA -->
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-register-size">
      <div class="modal-content">
        <div class="modal-body p-5">
          <div th:if="${msg}" class="alert alert-info" th:text="${msg}"></div>
      
          <div class="text-center mb-4">
            <h4 class="fw-bold">Te damos la bienvenida a AlertAi</h4>
          </div>
      
          <form th:action="@{/saveUser}" method="post">
            <div class="mb-2">
              <input type="text" name="name" class="form-control muted" placeholder="Nombre completo" required>
            </div>
            <div class="mb-2">
            <input type="text" name="username" class="form-control muted" placeholder="Usuario" required>
            </div>
            <div class="mb-2">
              <input type="email" name="email" class="form-control muted" placeholder="Correo electrónico" required>
            </div>
            <div class="mb-2">
              <input type="text" name="country" class="form-control muted" placeholder="País" required>
            </div>
            <div class="position-relative">
              <input type="password" name="password" id="password" class="form-control pe-5 muted"
                placeholder="Contraseña"
                minlength="8"
                pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{8,}"
                title="Debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un símbolo especial"
                required>

              <!-- Ícono para mostrar/ocultar contraseña -->
              <i id="togglePassword"
                class="bi bi-eye-slash position-absolute top-50 translate-middle-y"
                style="right: 2.5rem; cursor: pointer;"></i>

              <!-- Ícono de información -->
              <i class="bi bi-info-circle-fill position-absolute top-50 end-0 translate-middle-y me-2 text-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="Debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un símbolo especial"
                style="cursor: pointer;"></i>
            </div>

            <!-- TÉRMINOS DE USO -->
            <div class="form-check d-flex align-items-center mt-4">
              <input class="form-check-input mt-0" type="checkbox" id="accept" name="accept">
              <label class="form-check-label ms-2 small" for="accept">
                Acepto los <strong>Términos de Uso</strong> y el <strong>Aviso de Privacidad</strong> de AlertAi.
              </label>
            </div>

            <!-- BOTÓN SUMIT -->
            <div class="sumit mb-2 mt-3">
              <button type="submit" class="btn btn-sumit">Continuar</button>
            </div>
      
            <div class="d-grid text-center">
              <div class="text-center my-1">O</div>
          
              <a href="/oauth2/authorization/google" class="btn btn-primary">
                <i class="bi bi-google mx-2"></i> Ingresar con Google
              </a>
            </div>
            
            <hr class="mt-3">
      
            <div class="text-center mt-3 small">
              <p>¿Ya formas parte de AlertAi?
              <a href="signin" class="ms-2"><strong>Iniciar sesión.</strong></a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/script.js}"></script>
  <script th:src="@{/js/theme.js}"></script>

</body>
</html>
