<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>AlertAi - Eventos</title>
  <!-- BOOTSTRAP   -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

  <!-- FONT AWESOM  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

  <!-- CSS PERSONALIZADO -->
  <link rel="stylesheet" th:href="@{/css/admin.css}">
  <link rel="stylesheet" th:href="@{/css/theme.css}">
  <link rel="stylesheet" th:href="@{/css/user.css}">

  <!-- FAVICON (ICON DE LA PÁGINA) -->
  <link rel="icon" type="image/png" href="/img/icon-nav.png">

  <!-- LEAFLET (MAPA)  -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
</head>
<body>

  <!-- MENÚ -->
  <section>
    <nav class="navbar-user">
      <!-- LOGO -->
      <div class="branding">
        <a th:href="@{/user/home}">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
            <path d="M177.18,307.9c-1.48,.35-2.9-.76-2.91-2.28-.02-4.67-.06-9.17,.1-13.66,.03-.94,1.12-2.25,2.04-2.68,14.3-6.69,21.11-17.92,21.07-33.63-.03-10.86-.37-21.78,.63-32.57,2.4-25.83,26.36-46.37,52.31-45.56,27.24,.85,49.57,21.69,50.93,47.96,.53,10.33,.23,20.69,.32,31.04,.13,15.59,7.32,26.58,21.58,32.85,1.82,.8,2.56,1.63,2.5,3.65-.12,4.21-.07,8.42-.06,12.85,0,1.52-1.42,2.67-2.9,2.3-10.48-2.66-18.98-7.9-25.97-15.74-9-10.1-13.22-22.06-13.28-35.52-.04-8.93,.01-17.86-.01-26.79-.05-19.4-14.85-34.37-34.01-34.44-18.88-.07-33.75,15.17-33.87,34.6-.07,11.12,.26,22.29-.58,33.36-1.58,20.67-18.08,39.58-37.88,44.26Z"></path>
            <path d="M225.8,297.54h47.53c1.3,0,2.38,1.06,2.35,2.36-.25,10.42-10.99,20.99-23.44,22.43-13.71,1.59-26.11-7.94-28.76-22-.27-1.45,.84-2.79,2.31-2.79Z"/>
          </svg>
        </a>
      </div>

      <!-- MENÚ -->
      <div class="nav-left">
        <a th:href="@{/admin/home}">Inicio</a>
        <a th:href="@{/admin/allCategories}">Categorías</a>
        <a th:href="@{/admin/allEvents}" class="active">Eventos</a>
        <a href="/admin/reports">Denuncias</a>
        <a href="/admin/users">Usuarios</a>
      </div>
    
      <!-- BUSCADOR -->
      <div class="search-bar">
        <form action="/search" method="get" id="searchForm" class="search-form" role="search">
          <input id="eventSearchInput" type="text" name="query" placeholder="Buscar eventos, categorías o creadores..." aria-label="Buscar eventos, categorías o creadores"/>
          <button type="submit" aria-label="Buscar"><i class="fas fa-search"></i></button>
        </form>
      </div>
    
      <!-- MENÚ DEL USUARIO -->
      <div class="nav-right">
        <div class="user-menu">
          <img th:src="${user.image != null} ? '/uploads/icons/' + ${user.image} : '/img/icon-default.png'" alt="Foto usuario">
          <span class="username">
            <span sec:authorize="hasRole('ADMIN')" th:text="${user.name}"></span>
          </span>

          <div class="dropdown me-4">
            <button class="btn btn-sm btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-chevron-down"></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#editarPerfilModal">
                  <i class="fas fa-user me-1"></i>
                  <span>Editar perfil</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#settingsModal">
                  <i class="fas fa-cog me-1"></i>
                  <span th:text="#{profile.setting}">Configuración</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" href="/logout">
                  <i class="fas fa-sign-out-alt me-1"></i>
                  <span th:text="#{profile.logout}">Cerrar sesión</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- CAMBIAR THEME OCURO/CLARO -->
          <button id="theme-toggle-btn" class="btn btn-link theme-toggle-btn p-2" aria-label="Cambiar tema" title="Cambiar a modo oscuro">
            <i id="theme-icon" class="bi bi-lightbulb-fill fs-4"></i>
          </button>
        </div>
      </div>
    </nav>
  </section>

  <div class="container-fluid p-4">
    <!-- MENSAJES FLASH -->
    <div th:if="${sucessoEliminar}" class="alert alert-success" th:text="${sucessoEliminar}"></div>
    <div th:if="${errorEliminar}" class="alert alert-danger" th:text="${errorEliminar}"></div>
    <div th:if="${sucessoCadastrar}" class="alert alert-success" th:text="${sucessoCadastrar}"></div>
    <div th:if="${errorCadastrar}" class="alert alert-danger" th:text="${errorCadastrar}"></div>
    
    <!-- INFO -->
    <div class="d-flex justify-content-center align-items-center flex-column mb-4">
      <h3 class="mb-3">Eventos registrados por usuarios</h3>
      <p class="muted">Aquí puedes ver todos los eventos registrados. Usa los botones de acción para ver detalles o eliminar eventos.</p>
    </div>

    <!-- FILTRO POR CATEGORÍA -->
    <div class="filter-container mb-3">
      <div class="category-links d-flex flex-wrap align-items-center">
        <p class="filter-label me-3 mb-0"><i class="bi bi-funnel me-2"></i><span>Filtros</span></p>

        <a href="/admin/allEvents" class="me-2" th:classappend="${categoriaId} == null ? 'active' : ''">
          Todo
        </a>
        <th:block th:each="cat : ${categories}">
          <a th:href="@{/admin/allEvents(categoriaId=${cat.id})}" class="me-2" th:classappend="${categoriaId} == ${cat.id} ? 'active' : ''"
            th:text="${cat.name}">
          </a>
        </th:block>
      </div>

      <div class="d-flex align-items-center">
        <a href="#"
          class="btn-plus"
          data-bs-toggle="modal"
          data-bs-target="#crearEventoModal">
          <i class="bi bi-plus"></i> 
        </a>
      </div>
    </div>

    <!-- TABLA DE EVENTOS -->
    <div class="table-responsive mt-4">
      <div class="custom-table">
        <div class="table-row table-header">
          <div class="table-cell col-id">ID</div>
          <div class="table-cell col-img">Imagen</div>
          <div class="table-cell">Título</div>
          <div class="table-cell">Autor</div>
          <div class="table-cell">Categoría</div>
          <div class="table-cell">Descripción</div>
          <div class="table-cell col-date">Inicio</div>
          <div class="table-cell col-date">Fin</div>
          <div class="table-cell col-date">Hora</div>
          <div class="table-cell col-address">Ubicación</div>
          <div class="table-cell col-date">Publicado</div>
          <div class="table-cell">Acciones</div>             
        </div>
        <div class="table-row" th:each="event : ${eventos}">
          <div class="table-cell col-id" th:text="${event.id}"></div>
          <div class="table-cell col-img"><img th:src="@{/uploads/events/{img}(img=${event.image})}" alt="" style="width: 50px; height: 50px; border-radius: 5px;"></div>
          <div class="table-cell" th:text="${event.name}"  th:attr="title=${event.name}" data-bs-toggle="tooltip"></div>
          <div class="table-cell" th:text="${event.user.name}"  th:attr="title=${event.user.name}" data-bs-toggle="tooltip"></div>
          <div class="table-cell" th:text="${event.category.name}"></div>
          <div class="table-cell" th:text="${#strings.abbreviate(event.description, 40)}" th:attr="title=${event.description}" data-bs-toggle="tooltip">
          </div>
          <div class="table-cell col-date" th:text="${event.startDate}"></div>
          <div class="table-cell col-date" th:text="${event.endDate}"></div>
          <div class="table-cell col-date" th:text="${event.time}"></div>
          <div class="table cell col-address" th:text="${event.location.address}" th:attr="title=${event.location.address}" data-bs-toggle="tooltip"></div>
          <div class="table-cell col-date" th:text="${event.timeAgo}"></div>
          <div class="table-cell">
            <div class="btn-actions d-flex justify-content-center align-items-center">
              <form th:action="@{/event/delete/{id}(id=${event.id})}" method="post" th:id="'deleteForm_' + ${event.id}">
                <button type="submit" class="btn " 
                        onclick="return confirm('¿Seguro que deseas eliminar este evento?')">
                  <i class="bi bi-trash"></i>
                </button>
              </form>
              
              <a th:href="@{/event/{id}(id=${event.id})}" class="mt-1">
                <i class="bi bi-eye"></i>
              </a>
            </div>
          </div>
        </div>

        <div th:if="${#lists.isEmpty(eventos)}" class="alert mt-4">
          No hay eventos registrados para esta categoría.
        </div>

      </div>
    </div>

    <!-- PAGINACIÓN -->
    <div>
      <ul class="pagination">
          <li th:if="${currentPage > 0}">
              <a th:href="@{/admin/allEvents(page=${currentPage - 1}, name=${name}, categoriaId=${categoriaId})}">Anterior</a>
          </li>
          <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
              <a th:href="@{/admin/allEvents(page=${i}, name=${name}, categoriaId=${categoriaId})}"
                th:text="${i + 1}"
                th:classappend="${i == currentPage} ? 'active' : ''"></a>
          </li>
          <li th:if="${currentPage < totalPages - 1}">
              <a th:href="@{/admin/allEvents(page=${currentPage + 1}, name=${name}, categoriaId=${categoriaId})}">Siguiente</a>
          </li>
      </ul>
    </div>

  </div>


  <!-- MODALES -->

  <!-- CREAR EVENTO -->
  <div class="modal fade" id="crearEventoModal" tabindex="-1" aria-labelledby="crearEventoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content p-3">
        <form th:action="@{/event/save}" method="post" th:object="${eventDto}" enctype="multipart/form-data">
          <div class="modal-header">
            <h5 class="modal-title" id="crearEventoModalLabel" style="font-size: 1rem;">Crear evento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" style="font-size: 0.8rem;"></button>
          </div>          
          <div class="modal-body">
            <div class="row">
              <!-- AQUÍ VA LA IMAGEN DEL EVENTO-->
              <div class="col-12 col-md-4 d-flex flex-column">
                <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                  <div id="drop-area" class="p-2 border border-secondary rounded d-flex flex-column align-items-center justify-content-center text-center h-100" style="cursor: pointer;">
                    <div id="drop-placeholder" class="d-flex flex-column align-items-center">
                      <i class="bi bi-image" style="font-size: 1rem;"></i>
                      <p class="mt-2 mb-0" style="font-size: 0.8rem;">Arrastra una imagen aquí o haz clic para seleccionar</p>
                    </div>
                    <input type="file" id="image" name="imageFile" accept="image/*" class="d-none">
                    <img id="preview" src="#" alt="Vista previa" class="img-fluid d-none h-100" />
                  </div>
                </div>
              </div>
              <!--DATOS DE EVENTO-->
              <div class="col-12 col-md-8">
                <div class="mb-3">
                  <input type="text" class="form-control muted" id="name" name="name" required placeholder="Título" th:placeholder="#{form.title}">
                </div>
                <div class="mb-3">
                  <textarea class="form-control muted" id="description" rows="3" name="description" required placeholder="Descripción" th:placeholder="#{form.description}"></textarea>
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control muted" id="contact" name="contact" placeholder="Contacto">
                </div>
                <div class="mb-3 d-flex">
                  <input type="date" class="form-control muted" id="startDate" name="startDate" required/>
                  <p class="mx-2 my-auto">hasta</p>
                  <input type="date" class="form-control muted" id="endDate" name="endDate" />
                </div>
                <div class="mb-3 d-flex">
                  <input type="time" class="form-control muted me-2" id="time" name="time" th:placeholder="#{form.time}"/>
                  <select name="categoryId" id="categoryId" class="form-select muted" required aria-label="Selecciona una categoría">
                    <option value="" disabled selected hidden class="muted"> [[#{form.select_category}]]</option>
                    <th:block th:each="cat : ${categories}">
                      <option th:value="${cat.id}" th:text="${cat.name}" th:attr="data-name=${cat.name}"></option>
                    </th:block>
                  </select>
                </div>
                <div class="mb-3 d-flex">
                  <input type="text" class="form-control muted" id="address" name="location.address" placeholder="Dirección" />
                  <input type="hidden" id="latitude" name="location.latitude" />
                  <input type="hidden" id="longitude" name="location.longitude" />
                  <button type="button" class="btn btn-sumit ms-2" onclick="geocodeAddress()">Buscar</button>
                </div>
                <!--Mapa-->
                <div id="map-form" style="height: 150px; width: 100%;" class="rounded shadow-sm"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn" th:text="#{profile.create}">Crear evento</button>
          </div>        
        </form>
      </div> 
    </div>
  </div>
  <!-- EDITAR PERFIL DE USUARIO -->
  <div class="modal fade" id="editarPerfilModal" tabindex="-1" aria-labelledby="editarPerfilModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content p-4">
        <form th:action="@{/user/update}" method="post" enctype="multipart/form-data" th:object="${user}">
          <div class="modal-header">
            <h5 class="modal-title" id="editarPerfilModalLabel" style="font-size: 0.9rem;">Editar perfil</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" style="font-size: 0.8rem;"></button>
          </div>
          <div class="modal-body">
            <div class="row p-4">
              <!-- FOTO DE PERFIL -->
              <div class="col-12 col-md-6 modal-user-photo text-center position-relative mx-auto">
                <!-- Imagen actual -->
                <img id="preview-user-image" 
                  th:src="@{'/uploads/icons/' + ${user.image}}" 
                  data-original-src="@{'/uploads/icons/' + ${user.image}}" 
                  src="#" class="img-fluid">

                <input type="file" id="image" name="imageFile" class="overlay-input" data-preview-id="preview-user-image">

                <!-- Botón sobre la imagen -->
                <label for="image" class="btn btn-sm overlay-button">
                  <i class="bi bi-camera"></i>
                </label>
              </div>
              <!-- DATOS DEL USUARIO -->
              <div class="col-12 col-md-6">
                <div class="mb-2 p-2 rounded border">
                  <span class="muted mb-1" th:text="#{form.name}" style="font-size:0.7rem">Nombre completo</span>
                  <input class="form-control border-0 p-0 bg-transparent" type="text" id="name" th:field="*{name}">
                </div>
                <div class="mb-2 p-2 rounded border">
                  <span class="muted mb-1" th:text="#{form.username}" style="font-size:0.7rem">Usuario</span>
                  <input class="form-control border-0 p-0 bg-transparent" type="text" id="username" th:field="*{username}">
                </div>
                <div class="mb-2 p-2 rounded border">
                  <span class="muted mb-1" th:text="#{form.biography}" style="font-size:0.7rem">Biografía</span>
                  <textarea class="form-control border-0 p-0 bg-transparent" id="description" th:field="*{description}" rows="3" ></textarea>
                </div>
              
                <div class="mb-2 p-2 rounded border">
                  <span class="muted mb-1" th:text="#{form.country}" style="font-size:0.7rem">País</span>
                  <input class="form-control border-0 p-0 bg-transparent" type="text" id="country" th:field="*{country}"></input>
                </div>
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn" th:text="#{form.save}">Guardar cambios</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--CONFIGURACIÓN DE USUARIO-->
  <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content settings-container shadow-lg border-0 rounded-4">
        <div class="modal-header rounded-top-4">
          <h5 class="modal-title" id="settingsModalLabel" th:text="#{settings.title}">Configuración de Usuario</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/user/settings}" method="post">
            <input type="hidden" name="redirectTo" th:value="${redirectTo}" />
  
            <div class="mb-5 d-flex align-items-center m-0 p-0">
              <h5 class="fw-bold me-2" th:text="#{settings.language}">Idioma: </h5>
              <select name="language" id="language" class="form-select shadow-sm rounded-3" style="width: 200px;">
                <option value="es" th:selected="${#locale.language == 'es'}">Español</option>
                <option value="pt" th:selected="${#locale.language == 'pt'}">Portugués</option>
              </select>
            </div>

            <div class="mb-5">
              <h5 class="fw-bold mb-2" th:text="#{homepage.preferences}">Preferencias de notificación</h5>
              <p class="fst-italic small">
                Selecciona las categorías de eventos sobre las que deseas recibir notificaciones y novedades.
              </p>
              <div class="d-flex justify-content-center">
                <div class="form-check" th:each="cat : ${categories}">
                  <input class="form-check-input" type="checkbox"
                         th:id="'cat-' + ${cat.id}"
                         th:name="categoriaIds"
                         th:value="${cat.id}"
                         th:checked="${user.notificaciones.contains(cat)}">
                  <label class="form-check-label me-4" th:for="'cat-' + ${cat.id}" th:text="${cat.name}"></label>
                </div>
              </div>
            </div>

            <div class="">
              <a href="#" class="mb-2" data-bs-toggle="modal" data-bs-target="#administrarCuenta"><h5>Administrar cuenta</h5></a>
              <p class="fst-italic small">
                Cambia tus datos personales o elimina tu cuenta cuando quieras.
              </p>
            </div>
            

            <div class="modal-footer d-flex justify-content-center border-top-0 pt-4">
              <button type="button" class="btn px-4" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn px-4" th:text="#{settings.save}">Guardar cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>  
  </div>
  <!-- ADMINISTRACIÓN DE CUENTA -->
  <div class="modal fade" id="administrarCuenta" tabindex="-1" aria-labelledby="administrarCuentaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content shadow-sm border-0 rounded-4">
        <div class="modal-header rounded-top-4">
          <h5 class="modal-title" id="administrarCuentaModalLabel">Administración de la cuenta</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <form th:action="@{/user/update}" method="post">
          <div class="modal-body p-5">
            <p>Tu cuenta</p>
            <div class="mb-2 p-2 form-control">
              <span for="email" class="muted mb-1" style="font-size: 0.7rem;">Correo electrónico</span>
              <input type="email" class="form-control bg-transparent" id="email" name="email" th:value="${user.email}" placeholder="Correo electrónico">
            </div>

            <div class="mb-3 d-flex align-items-center position-relative">
              <div class="mb-2 p-2 form-control">
                <span for="password" class="muted mb-1">Contraseña</span>
                <input type="password" class="form-control bg-transparent" id="password" name="password" placeholder="*********">
              </div>
              <button type="button" class="btn btn-sumit position-absolute end-0 me-2" style="top: 50%; transform: translateY(-50%);"
                data-bs-toggle="modal" data-bs-target="#cambiarPasswordModal"> Cambiar
              </button>            
            </div>

            <p>Información personal</p>
            <div class="mb-2 p-2 form-control">
              <span for="country" class="muted mb-1">País</spna>
              <input type="text" class="form-control bg-transparent" id="pais" name="country" th:value="${user.country}">
            </div>

            <div class="mb-2 p-2 form-control">
              <label for="phone" class="muted mb-1">Teléfono</label>
              <input type="tel" class="form-control bg-transparent" id="phone" name="phone" th:value="${user.phone}">
            </div>

            <div class="mb-2 p-2 form-control">
              <label for="document" class="muted mb-1">Documento</label>
              <input type="text" class="form-control bg-transparent" id="document" name="document" th:value="${user.document}">
            </div>

            <div class="mt-4 pt-3 d-flex align-items-center">
              <div class="d-block me-5" >
                <p>Elimina tus datos y tu cuenta</p>
                <p class="muted" style="font-size: 0.95rem;">Elimina permanentemente tus datos y todo lo asociado a tu cuenta</p>
              </div>
            
              <button type="button" class="btn btn-danger" style="width: 300px;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Eliminar cuenta</button>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- CAMBIAR CONTRAEÑA -->
  <div class="modal fade" id="cambiarPasswordModal" tabindex="-1" aria-labelledby="cambiarPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cambiarPasswordModalLabel">Cambiar contraseña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <form th:action="@{/user/changePassword}" method="post">
          <div class="modal-body">
            <div class="mb-3">
              <label for="currentPassword" class="form-label">Contraseña actual</label>
              <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">Nueva contraseña</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>
            <div class="mb-3">
              <label for="confirmNewPassword" class="form-label">Confirmar nueva contraseña</label>
              <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Actualizar contraseña</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- CONFIRMACIÓN PARA ELIMINAR CUENTA -->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro que deseas eliminar tu cuenta? Esta acción no se puede deshacer.</p>
        </div>
        <div class="modal-footer">
          <form th:action="@{/user/delete}" method="post">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Eliminar cuenta</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/script.js}"></script>
  <script th:src="@{/js/theme.js}"></script>
  <script th:src="@{/js/geo_maps.js}"></script>

</body>
</html>