<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>AlertAi - Eventos</title>
  <!-- BOOTSTRAP   -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

  <!-- FONT AWESOM  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

  <!-- CSS PERSONALIZADO -->
  <link rel="stylesheet" th:href="@{/css/admin.css}">
  <link rel="stylesheet" th:href="@{/css/theme.css}">
  <link rel="stylesheet" th:href="@{/css/user.css}">

  <!-- FAVICON (ICON DE LA PÁGINA) -->
  <link rel="icon" type="image/png" href="/img/icon-nav.png">
</head>
<body>

   <!-- MENÚ -->
  <section class="navbar-user sticky-top">
    <!-- LOGO -->
    <div class="branding">
      <a th:href="@{/user/home}">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
          <path d="M177.18,307.9c-1.48,.35-2.9-.76-2.91-2.28-.02-4.67-.06-9.17,.1-13.66,.03-.94,1.12-2.25,2.04-2.68,14.3-6.69,21.11-17.92,21.07-33.63-.03-10.86-.37-21.78,.63-32.57,2.4-25.83,26.36-46.37,52.31-45.56,27.24,.85,49.57,21.69,50.93,47.96,.53,10.33,.23,20.69,.32,31.04,.13,15.59,7.32,26.58,21.58,32.85,1.82,.8,2.56,1.63,2.5,3.65-.12,4.21-.07,8.42-.06,12.85,0,1.52-1.42,2.67-2.9,2.3-10.48-2.66-18.98-7.9-25.97-15.74-9-10.1-13.22-22.06-13.28-35.52-.04-8.93,.01-17.86-.01-26.79-.05-19.4-14.85-34.37-34.01-34.44-18.88-.07-33.75,15.17-33.87,34.6-.07,11.12,.26,22.29-.58,33.36-1.58,20.67-18.08,39.58-37.88,44.26Z"></path>
          <path d="M225.8,297.54h47.53c1.3,0,2.38,1.06,2.35,2.36-.25,10.42-10.99,20.99-23.44,22.43-13.71,1.59-26.11-7.94-28.76-22-.27-1.45,.84-2.79,2.31-2.79Z"/>
        </svg>
      </a>
    </div>

    <!-- MENÚ -->
    <div class="nav-left">
      <a th:href="@{/admin/home}">Inicio</a>
      <a th:href="@{/admin/allCategories}">Categorías</a>
      <a th:href="@{/admin/allEvents}" class="active">Eventos</a>
      <a href="/admin/reports">Denuncias</a>
      <a href="/admin/users">Usuarios</a>
    </div>
  
    <!-- BUSCADOR -->
    <div class="search-bar">
      <form action="/search" method="get" id="searchForm" class="search-form" role="search">
        <input id="eventSearchInput" type="text" name="query" placeholder="Buscar eventos, categorías o creadores..." aria-label="Buscar eventos, categorías o creadores"/>
        <button type="submit" aria-label="Buscar"><i class="fas fa-search"></i></button>
      </form>
    </div>

    <!-- MENÚ DEL USUARIO -->
    <div class="nav-right">
      <div class="user-menu">
        <img th:src="${user.image != null} ? @{/uploads/icons/} + ${user.image} : @{/images/default-profile.png}" alt="Foto usuario">
        <span class="username">
          <span sec:authorize="hasRole('ADMIN')" th:text="${user.name}"></span>
        </span>

        <div class="dropdown me-4">
          <button class="btn btn-sm btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-chevron-down"></i>
          </button>

          <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#editarPerfilModal">
                <i class="fas fa-user me-1"></i>
                <span>Editar perfil</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#settingsModal">
                <i class="fas fa-cog me-1"></i>
                <span th:text="#{profile.setting}">Configuración</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2" href="/logout">
                <i class="fas fa-sign-out-alt me-1"></i>
                <span th:text="#{profile.logout}">Cerrar sesión</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- CAMBIAR THEME OCURO/CLARO -->
        <button id="theme-toggle-btn" class="btn btn-link theme-toggle-btn p-2" aria-label="Cambiar tema" title="Cambiar a modo oscuro">
          <i id="theme-icon" class="bi bi-lightbulb-fill fs-4"></i>
        </button>
      </div>
    </div>
  </section>

  <div class="container-fluid p-4">
    <!-- MENSAJES FLASH -->
    <div th:if="${sucessoEliminar}" class="alert alert-success" th:text="${sucessoEliminar}"></div>
    <div th:if="${errorEliminar}" class="alert alert-danger" th:text="${errorEliminar}"></div>
    <div th:if="${sucessoCadastrar}" class="alert alert-success" th:text="${sucessoCadastrar}"></div>
    <div th:if="${errorCadastrar}" class="alert alert-danger" th:text="${errorCadastrar}"></div>
    
    <!-- INFO -->
    <div class="d-flex justify-content-center align-items-center flex-column mb-4">
      <h3 class="mb-3">Eventos registrados por usuarios</h3>
      <p class="muted">Aquí puedes ver todos los eventos registrados. Usa los botones de acción para ver detalles o eliminar eventos.</p>
    </div>

    <!-- FILTRO POR CATEGORÍA -->
    <div class="filter-container mb-3">
      <div class="category-links d-flex flex-wrap align-items-center">
        <p class="filter-label me-3 mb-0"><i class="bi bi-funnel me-2"></i><span>Filtros</span></p>

        <a href="/admin/allEvents" class="me-2" th:classappend="${categoriaId} == null ? 'active' : ''">
          Todo
        </a>
        <th:block th:each="cat : ${categories}">
          <a th:href="@{/admin/allEvents(categoriaId=${cat.id})}" class="me-2" th:classappend="${categoriaId} == ${cat.id} ? 'active' : ''"
            th:text="${cat.name}">
          </a>
        </th:block>
      </div>

      <div class="d-flex align-items-center">
        <a href="/admin/createEvent" class="btn-plus">
          <i class="bi bi-plus"></i>
        </a>
      </div>
    </div>

    <!-- TABLA DE EVENTOS -->
    <div class="table-responsive mt-4">
      <div class="custom-table">
        <div class="table-row table-header">
          <div class="table-cell col-id">ID</div>
          <div class="table-cell">Título</div>
          <div class="table-cell">Autor</div>
          <div class="table-cell">Categoría</div>
          <div class="table-cell">Descripción</div>
          <div class="table-cell">Inicio</div>
          <div class="table-cell">Fin</div>
          <div class="table-cell">Hora</div>
          <div class="table-cell">Acciones</div>             
        </div>
        <div class="table-row" th:each="event : ${eventos}">
          <div class="table-cell col-id" th:text="${event.id}"></div>
          <div class="table-cell" th:text="${event.name}"  th:attr="title=${event.name}" data-bs-toggle="tooltip"></div>
          <div class="table-cell" th:text="${event.user.name}"  th:attr="title=${event.user.name}" data-bs-toggle="tooltip"></div>
          <div class="table-cell" th:text="${event.category.name}"></div>
          <div class="table-cell" th:text="${#strings.abbreviate(event.description, 40)}" th:attr="title=${event.description}" data-bs-toggle="tooltip">
          </div>
          <div class="table-cell" th:text="${event.startDate}"></div>
          <div class="table-cell" th:text="${event.endDate}"></div>
          <div class="table-cell" th:text="${event.time}"></div>
          <div class="table-cell">
            <div class="btn-actions d-flex">
              <form th:action="@{/admin/delete/{id}(id=${event.id})}" method="post" th:id="'deleteForm_' + ${event.id}">
                <button type="submit" class="btn " 
                        onclick="return confirm('¿Seguro que deseas eliminar este evento?')">
                  <i class="bi bi-trash"></i>
                </button>
              </form>
              
              <a th:href="@{/event/{id}(id=${event.id})}" class="mt-1">
                <i class="bi bi-eye"></i>
              </a>
            </div>
          </div>
        </div>

        <div th:if="${#lists.isEmpty(eventos)}" class="alert mt-4">
          No hay eventos registrados para esta categoría.
        </div>

      </div>
    </div>

    <!-- PAGINACIÓN -->
    <div>
      <ul class="pagination">
          <li th:if="${currentPage > 0}">
              <a th:href="@{/admin/allEvents(page=${currentPage - 1}, name=${name}, categoriaId=${categoriaId})}">Anterior</a>
          </li>
          <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
              <a th:href="@{/admin/allEvents(page=${i}, name=${name}, categoriaId=${categoriaId})}"
                th:text="${i + 1}"
                th:classappend="${i == currentPage} ? 'active' : ''"></a>
          </li>
          <li th:if="${currentPage < totalPages - 1}">
              <a th:href="@{/admin/allEvents(page=${currentPage + 1}, name=${name}, categoriaId=${categoriaId})}">Siguiente</a>
          </li>
      </ul>
    </div>

  </div>




  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/script.js}"></script>


</body>
</html>