:root {
    --body-night: #121212;
    --second-night: #9296e7;
    --third-night: #999bb6;
    --fourth-night: #1c1c1c;
    --text-night: #ffffff;
    --text-muted-night: #aeaeae;
    --card-shadow-night: #0000000d;
    --card-bg-night: #333333;
  
    --base: #4e54c8;
    --base-2: #8f94fb;
  
    --body-light: #dbdbdb;
    --second-light: #9296e7;
    --third-light: #b2bec9;
    --fourth-light: #d3d3d3;
    --text-light: #000000;
    --text-muted-light: #2b2b2b;
    --card-bg-light: #a0a0a0;
    --card-shadow-light: #0000000d;

    --verde-claro: #d6eff6;
    --verde-petroleo-claro: #92b3b0;
    --verde-medio: #5a7e7b;
    --verde-petroleo-oscuro: #5c7d7a;
    --verde-oscuro-boton: #26332f;
    --blanco: #ffffff;
    --negro: #000000;
}

/* MENU DEL PERFIL */
.navbar-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    z-index: 1030;
}
.navbar-user a {
  text-decoration: none;
  color: inherit;
  margin: 0 1rem;
  font-weight: 500;
  transition: color 0.3s;
}
.navbar-user a:hover {
  color: #31363b;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}
.user-menu .username {
  margin: 0 0.5rem;
  font-weight: 600;
}

/* DROPDOWN DEL USUARIO */

.btn-icon {
  background: transparent;
  border: none;
  color: inherit;
  padding: 0.2rem;
  line-height: 1;
}

.dropdown-menu {
  min-width: 8rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
}

.theme-light .dropdown-menu {
  background-color: #fff;
  color: #212529;
}
.theme-light .dropdown-menu .dropdown-item {
  color: #212529;
  margin: 0;
  border-radius: 0;
}
.theme-light .dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1;
}

.theme-dark .dropdown-menu {
  background-color: #343a40;
  color: #f8f9fa;
}
.theme-dark .dropdown-menu .dropdown-item {
  color: #f8f9fa;
  margin: 0;
  border-radius: 0;
}
.theme-dark .dropdown-menu .dropdown-item:hover {
  background-color: #495057;
}





/* BANNER DEL PERFIL */
.banner-profile {
    position: relative;
    height: 200px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-dark .banner-profile {
    background: linear-gradient(to bottom, var(--verde-petroleo-oscuro),  var(--body-night)); 
}
.theme-light .banner-profile {
  background: linear-gradient(to bottom, var(--verde-claro),  var(--body-light)); 
  }
  
/* FOTO DE PERFIL */
.profile-pic {
    position: absolute;
    top: 160px; 
    left: 170px; 
    z-index: 10;
    transform: translateX(-50%);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--verde-oscuro-boton);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.481);
}
.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit-pic {
    position: absolute;
    top: 340px; 
    left: 225px; 
    z-index: 10;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: var(--verde-medio);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ICONO DE CONFIGURACIÓN */

.icono-redondo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.icono-redondo i {
    font-size: 16px; 
    color: #ffffff; 
}
.theme-dark .icono-redondo {
    background-color: var(--verde-petroleo-oscuro);
}
.theme-light .icono-redondo {
    background-color: var(--verde-petroleo-claro);
}

.icono-redondo:hover {
    background-color: var(--verde-oscuro-boton);
    box-shadow: 0 2px 4px rgba(164, 163, 164, 0.2);
}
  

/* INFORMACIÓN DEL PERFIL*/

.profile-info{
    padding-top: 10px; 
    padding-bottom: 20px;
    padding-left: 290px;
}
.theme-dark .profile-info { 
    color: #ffffff;
    background-color: var(--body-night); 
}
.theme-light .profile-info {
    color: #000;
    background-color: var(--body-light);
}
.content-profile {
    margin: 20px;
    box-shadow: 0 0 5px rgba(35, 28, 86, 0.279);
}


/* SIDEBAR-LEFT DE BIENVENIDA (CREAR EVENTO) */
.sidebar {
    width: 25%;
    padding: 20px;
}

.theme-dark .create-event {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: var(--verde-petroleo-oscuro);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}
.theme-light .create-event{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: var(--verde-petroleo-claro);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


#categoryTabs {
  margin-bottom: 2rem;
  min-width: 0;
}
.nav-pills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 0;
}
.nav-pills .filter {
  margin: 0.25rem 0.5rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
  font-weight: 600;
}
.theme-dark .nav-filt .filter.active {
  background-color: var(--verde-medio);
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* EVENTOS DEL USUARIO */

.events-profile {
    padding: 10px;
    width: 900px;
}
.event-card-profile{
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
}
.theme-light .event-card-profile {
    color: var(--text-light);
}
.theme-light .event-card-profile:hover {
    background-color: var(--verde-petroleo-claro);
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.theme-dark .event-card-profile {
    color: var(--text-night);
}
.theme-dark .event-card-profile:hover {
    background-color: var(--verde-petroleo-oscuro);
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* IMG DEL USUARIO EN EVENTO */

.user-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}  

/* CONTENIDO DE EVENTO*/

.event-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.event-content .col-md-6 {
    flex: 1 1 45%; 
}
.event-content .col-md-6 h3 {
    font-size: 1rem;    
    margin-bottom: 10px;
}
.event-content .col-md-6 p {
    font-size: 0.9rem;
    line-height: 1.5;
}
.event-time-ubic {
    font-size: 0.8rem;
    margin-top: 10px;
}
.event-time-ubic p {
    margin: 0;
    font-size: 0.7rem;
}

/* IMAGEN DEL EVENTO */
.event-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-content .event-img img {
    object-fit: cover;
    border-radius: 5px;
    width: 150px; 
    height: 200px;
}
.event-content .event-img img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


/* ACCIONES*/
.btn-icon {
  background: transparent;
  border: none;
  color: inherit;
  padding: 0.25rem;
}
.custom-dropdown {
  min-width: 8rem;
  border-radius: 0.5rem;
  border: none;
}

.theme-light .custom-dropdown {
  background-color: var(--blanco);
  color: var(--negro);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.theme-light .custom-dropdown .dropdown-item {
  color: var(--fourth-night);
}
.theme-light .custom-dropdown .dropdown-item:hover {
  background-color: #f8f9fa;
  color: var(--negro);
}

.theme-dark .custom-dropdown {
  background-color: #343a40;
  color: var(--blanco);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.05);
}
.theme-dark .custom-dropdown .dropdown-item {
  color: var(--blanco);
}
.theme-dark .custom-dropdown .dropdown-item:hover {
  background-color: #495057;
}


/* FILTRO DE CATEGORÍAS */
#categoryTabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.nav-pills .nav-link {
  white-space: nowrap;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  color: inherit;
  border: none;
  margin: 0.25rem 0.5rem;
}
.theme-dark .nav-link.active, 
.theme-dark .nav-link:hover  {
    background-color: var(--verde-petroleo-oscuro);
    color: black;
}
.theme-light .nav-link.active, 
.theme-light .nav-link:hover  {
    background-color: var(--verde-petroleo-claro);
    color: black;
}


.action-icons i {
  font-size: 1rem;
  transition: transform 0.2s ease;
  cursor: pointer;
  color: inherit;
}
.action-icons a:hover {
transform: scale(1.2);
}

/* CONFIGURACIÓN */

.settings-container {
  padding: 1.5rem;
}
.settings-container .modal-body {
  border-radius: 0 0 1rem 1rem;
}
.settings-container .form-check {
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: background 0.3s;
}
.settings-container .form-select {
  border-radius: 0.5rem;
  width: 150px;
}
.settings-container .modal-footer {
  border-top: none;
}


/*AGREGAR/ACTUALIZAR FOTO DE PERFIL*/

.modal-user-photo {
  position: relative;
  display: inline-block;
}
.modal-user-photo img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #5b5b5b;
}
.overlay-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
}
.overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px; 
  height: 60px;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0.9;
  pointer-events: none;
  border: none;
  background-color: var(--negro);
  color: var(--blanco);
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.overlay-button i {
    font-size: 2rem; 
}

/* MODAL */

.form-control, 
.form-control:focus{
  font-size: 0.8rem;
  background-color: transparent !important;
  color: inherit;
  box-shadow: none;
}
input:focus {
    outline: none;  
}
.modal-body label{
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.modal-body button,
.modal-footer button{
  background-color: var(--verde-medio);
  font-size: 0.8rem;
  font-weight: 500;
  color: #000;
  border: none;
}
  


  



  