<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>AlertAi - Perfil</title>
  <!-- BOOTSTRAP   -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

  <!-- FONT AWESOM  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

  <!-- CSS PERSONALIZADO -->
  <link rel="stylesheet" th:href="@{/css/profile.css}">
  <link rel="stylesheet" th:href="@{/css/theme.css}">
  <link rel="stylesheet" th:href="@{/css/user.css}">

  <!-- FAVICON (ICON DE LA PÁGINA) -->
  <link rel="icon" type="image/png" href="/img/icon-nav.png">

  <!-- LEAFLET (MAPA)  -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

</head>
<body>

  <!-- MENÚ -->
  <header>
    <nav class="navbar-user sticky-top">
      <!-- LOGO -->
      <div class="branding">
        <a th:href="@{/user/home}">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
            <path d="M177.18,307.9c-1.48,.35-2.9-.76-2.91-2.28-.02-4.67-.06-9.17,.1-13.66,.03-.94,1.12-2.25,2.04-2.68,14.3-6.69,21.11-17.92,21.07-33.63-.03-10.86-.37-21.78,.63-32.57,2.4-25.83,26.36-46.37,52.31-45.56,27.24,.85,49.57,21.69,50.93,47.96,.53,10.33,.23,20.69,.32,31.04,.13,15.59,7.32,26.58,21.58,32.85,1.82,.8,2.56,1.63,2.5,3.65-.12,4.21-.07,8.42-.06,12.85,0,1.52-1.42,2.67-2.9,2.3-10.48-2.66-18.98-7.9-25.97-15.74-9-10.1-13.22-22.06-13.28-35.52-.04-8.93,.01-17.86-.01-26.79-.05-19.4-14.85-34.37-34.01-34.44-18.88-.07-33.75,15.17-33.87,34.6-.07,11.12,.26,22.29-.58,33.36-1.58,20.67-18.08,39.58-37.88,44.26Z"></path>
            <path d="M225.8,297.54h47.53c1.3,0,2.38,1.06,2.35,2.36-.25,10.42-10.99,20.99-23.44,22.43-13.71,1.59-26.11-7.94-28.76-22-.27-1.45,.84-2.79,2.31-2.79Z"/>
          </svg>
        </a>
      </div>

      <!-- MENÚ -->
      <div class="nav-left">
        <a th:href="@{/user/home}" th:text="#{profile.home}">Inicio</a>
        <a th:href="@{/event/allEvents}">Eventos</a>
        <a href="/contact" th:text="#{profile.contact}">Contacto</a>
        <a href="/help" th:text="#{profile.help}">Ayuda</a>
      </div>
    
      <!-- BUSCADOR -->
      <div class="search-bar">
        <form action="/search" method="get" id="searchForm" class="search-form" role="search">
          <input id="eventSearchInput" type="text" name="query" placeholder="Buscar eventos, categorías o creadores..." aria-label="Buscar eventos, categorías o creadores"/>
          <button type="submit" aria-label="Buscar"><i class="fas fa-search"></i></button>
        </form>
      </div>
    
      <!-- MENÚ DEL USUARIO -->
      <div class="nav-right">
        <div class="user-menu">
          <img th:src="${user.image != null} ? '/uploads/icons/' + ${user.image} : '/img/icon-default.jpg'" alt="Foto usuario">
          <span class="username">
            <span sec:authorize="hasRole('ADMIN')" th:text="${user.name}"></span>
            <span sec:authorize="!hasRole('ADMIN')" th:text="${user.name}"></span>
          </span>

          <div class="dropdown me-4">
            <button class="btn btn-sm btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-chevron-down"></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" th:href="@{/user/profile}">
                  <i class="fas fa-user me-1"></i><span>Perfil</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#settingsModal">
                  <i class="fas fa-cog me-1"></i><span th:text="#{profile.setting}">Configuración</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" href="/logout">
                  <i class="fas fa-sign-out-alt me-1"></i><span th:text="#{profile.logout}">Cerrar sesión</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- CAMBIAR THEME OCURO/CLARO -->
          <button id="theme-toggle-btn" class="btn btn-link theme-toggle-btn p-2" aria-label="Cambiar tema" title="Cambiar a modo oscuro">
            <i id="theme-icon" class="bi bi-lightbulb-fill fs-4"></i>
          </button>
        </div>
      </div>
    </nav>
  </header>

  <!-- BANNER DE PERFIL -->
  <section class="banner-profile"></section>

  <!-- PERFIL DEL USUARIO -->
  <section class="profile">
    <div class="profile-pic">
      <img th:src="${user.image != null} ? '/uploads/icons/' + ${user.image} : '/img/icon-default.jpg'" alt="Foto usuario" class="card-img-top">
    </div>
    <!-- INFORMACIÓN DEL USUARIO -->
    <div class="profile-info">
      <div class="d-flex justify-content-between">
        <p>
          <span th:text="${user.name}" style="font-size: 2rem; font-weight: 700;" class="me-2">Nombre</span>  
          (<span th:text="${user.username}" style="font-size: 0.8;" class="muted">Usuario</span>)
        </p>
        <div class="me-4 d-flex">
          <button type="button" class=" icono-redondo me-3" data-bs-toggle="modal" data-bs-target="#settingsModal" title="Configuración" sec:authorize="hasRole('USER')">
            <i class="bi bi-gear"></i>
          </button>
        </div>
      </div>
      <p style="font-size: 0.9rem;" th:utext="${user.description != null} ? ${#strings.replace(user.description, '\n', '<br/>')} : 'Sin descripción aún'"></p>
      <p style="font-size: 0.8rem;" class="muted"> 
        <i class="bi bi-geo-alt me-1"></i>  
        <span th:text="${user.country}"></span>
      </p>
    </div>
    <!-- BOTÓN DE EDITAR PERFIL -->
    <button class="edit-pic" data-bs-toggle="modal" data-bs-target="#editarPerfilModal"
      sec:authorize="hasRole('USER')">
      ✎
    </button>
  </section>

  <!-- CONTENIDO DEL PERFIL -->
  <section class="content-profile row p-4 m-5" style="border-radius: 10px;">
    <!-- SIDEBAR DE BIENVENIDA + CREAR EVENTO -->
    <div class="col-12 col-md-4 sidebar me-5 mt-2">
      <h4 th:text="#{profile.welcome}">Panel de eventos</h4>
      <p th:text="#{profile.welcome2}" style="font-size: 0.9rem;">Aquí podrás gestionar y crear nuevos eventos fácilmente</p>
      <button class="create-event" data-bs-toggle="modal" data-bs-target="#crearEventoModal" 
        th:text="#{profile.create}"
        sec:authorize="hasRole('USER')">
          Crear evento
      </button>
    </div>

    <!-- FILTRO DE CATEGORÍAS -->
    <div class="col-12 col-md-7 ms-5">
      <ul class="nav nav-pills justify-content-center my-4" id="categoryTabs" role="tablist">
        <li th:each="categoria, stat : ${categories}" class="nav-item" role="presentation">
          <a th:id="'tab-' + ${categoria.id}" class="filter" th:classappend="${stat.index == 0} ? ' active' : ''" th:href="'#content-' + ${categoria.id}" data-bs-toggle="pill"
            role="tab" th:aria-controls="'content-' + ${categoria.id}" th:aria-selected="${stat.index == 0}">
            <span th:text="${categoria.name}">Categoría</span>
          </a>
        </li>
      </ul>

      <!-- CONTENIDO DE CADA CATEGORÍA -->
      <div class="tab-content" id="categoryContent">
        <div th:each="categoria, stat : ${categories}" th:id="'content-' + ${categoria.id}" role="tabpanel" th:aria-labelledby="'tab-' + ${categoria.id}" th:class="'tab-pane fade' + (${stat.index == 0} ? ' show active' : '')">
          <!-- EVENTOS FILTRADOS POR CATEGORÍA -->
          <div th:with="events=${eventsByCategory[categoria.id]}">
            <!-- CUANDO NO HAY EVENTO -->
            <div th:if="${#lists.isEmpty(events)}" class="text-center py-5" th:text="#{profile.anyEvents}">
              No hay eventos para esta categoría
            </div>
            <!-- CUANDO HAY EVENTO -->
            <div th:if="${!#lists.isEmpty(events)}" >
              <div class="events-profile">
                <div th:each="event : ${events}" class="event-card-profile">
                  <!-- INFORMACIÓN DEL EVENTO -->
                  <div class="event-content row">
                    <div class="event-item d-flex border rounded p-3 mb-3 shadow-sm align-items-start">
                      <!-- Imagen del evento -->
                      <a th:href="@{/event/{id}(id=${event.id})}" class="me-3">
                        <img th:src="${event.image != null} ? '/uploads/events/' + ${event.image} : '/img/default-event.jpeg'"
                            alt="Imagen evento"
                            style="width: 110px; height: 110px; object-fit: cover; border-radius: 0.5rem;">
                      </a>

                      <!-- Contenido del evento -->
                      <div class="flex-grow-1">
                        <!-- Título del evento -->
                        <a th:href="@{/event/{id}(id=${event.id})}">
                          <h5 class="mb-2 fw-bold" th:text="${event.name}">Título del evento</h5>
                        </a>

                        <!-- Usuario y fecha -->
                        <div class="d-flex align-items-center muted small mb-1">
                          <img th:src="${user.image != null} ? '/uploads/icons/' + ${user.image} : '/img/icon-default.jpg'" alt="Foto usuario"
                              class="rounded-circle me-2" style="width: 24px; height: 24px; object-fit: cover;">
                          <span th:text="${user.name}" class="me-2">Nombre</span>
                          <span>&middot;</span>
                          <span class="ms-2" th:text="${event.timeAgo}">hace 2 horas</span>
                        </div>

                        <!-- Descripción corta -->
                        <p class="mb-2 muted small text-truncate-description" th:text="${event.description}">Descripción larga...</p>

                        <!-- Fecha y ubicación -->
                        <div class="muted small d-flex justify-content-between">
                          <span>
                            <i class="bi bi-calendar-event me-1"></i>
                            <span th:utext="#{event.rangeHtml(${event.startDate}, ${event.endDate})}"></span>
                          </span>
                          <span class="ms-3">
                            <i class="bi bi-geo-alt me-1"></i>
                            <span th:text="${event.location.address}">Dirección</span>
                          </span>
                        </div>
                      </div>

                      <!-- Acciones -->
                      <div class="ms-auto" sec:authorize="hasRole('USER')">
                        <div class="dropdown">
                          <button class="btn btn-sm" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                              <a th:href="@{/event/edit/{id}(id=${event.id})}" class="dropdown-item">
                                Editar
                              </a>


                            </li>
                            <li>
                              <form th:action="@{/event/delete/{id}(id=${event.id})}" method="post"
                                    onsubmit="return confirm('¿Eliminar evento?');">
                                <button type="submit" class="dropdown-item">Eliminar</button>
                              </form>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </section>
  
  <!-- FOOTER -->
  <footer class="footer py-4 mt-auto">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
      <!-- Derechos reservados -->
      <p class="mb-0 small" th:text="#{footer.rights_reserved}">
        &copy; 2025 AlertAi. Todos los derechos reservados.
      </p>

      <!-- Redes sociales -->
      <div class="footer-links mb-3 mb-md-0">
        <a href="#" class="text-white me-3" aria-label="Facebook"><i class="bi bi-facebook fs-5"></i></a>
        <a href="#" class="text-white me-3" aria-label="Twitter"><i class="bi bi-twitter fs-5"></i></a>
        <a href="#" class="text-white me-3" aria-label="Instagram"><i class="bi bi-instagram fs-5"></i></a>
        <a href="#" class="text-white" aria-label="LinkedIn"><i class="bi bi-linkedin fs-5"></i></a>
      </div>
    </div>
  </footer>

  

  <!-- MODALES -->

  <!-- CREAR EVENTO -->
  <div class="modal fade" id="crearEventoModal" tabindex="-1" aria-labelledby="crearEventoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content p-3">
        <form th:action="@{/event/save}" method="post" th:object="${eventDto}" enctype="multipart/form-data">
          <div class="modal-header">
            <h5 class="modal-title" id="crearEventoModalLabel" style="font-size: 1rem;">Crear evento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" style="font-size: 0.8rem;"></button>
          </div>          
          <div class="modal-body">
            <div class="row">
              <!-- AQUÍ VA LA IMAGEN DEL EVENTO-->
              <div class="col-12 col-md-4 d-flex flex-column">
                <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                  <div id="drop-area" class="p-2 border border-secondary rounded d-flex flex-column align-items-center justify-content-center text-center h-100" style="cursor: pointer;">
                    <div id="drop-placeholder" class="d-flex flex-column align-items-center">
                      <i class="bi bi-image" style="font-size: 1rem;"></i>
                      <p class="mt-2 mb-0" style="font-size: 0.8rem;">Arrastra una imagen aquí o haz clic para seleccionar</p>
                    </div>
                    <input type="file" id="image" name="imageFile" accept="image/*" class="d-none">
                    <img id="preview" src="#" alt="Vista previa" class="img-fluid d-none h-100" />
                  </div>
                </div>
              </div>
              <!--DATOS DE EVENTO-->
              <div class="col-12 col-md-8">
                <div class="mb-3">
                  <input type="text" class="form-control muted" id="name" name="name" required placeholder="Título" th:placeholder="#{form.title}">
                </div>
                <div class="mb-3">
                  <textarea class="form-control muted" id="description" rows="3" name="description" required placeholder="Descripción" th:placeholder="#{form.description}"></textarea>
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control muted" id="contact" name="contact" placeholder="Contacto">
                </div>
                <div class="mb-3 d-flex">
                  <input type="date" class="form-control muted" id="startDate" name="startDate" required/>
                  <p class="mx-2 my-auto">hasta</p>
                  <input type="date" class="form-control muted" id="endDate" name="endDate" />
                </div>
                <div class="mb-3 d-flex">
                  <input type="time" class="form-control muted me-2" id="time" name="time" th:placeholder="#{form.time}"/>
                  <select name="categoryId" id="categoryId" class="form-select muted" required aria-label="Selecciona una categoría">
                    <option value="" disabled selected hidden class="muted"> [[#{form.select_category}]]</option>
                    <th:block th:each="cat : ${categories}">
                      <option th:value="${cat.id}" th:text="${cat.name}" th:attr="data-name=${cat.name}"></option>
                    </th:block>
                  </select>
                </div>
                <div class="mb-3 d-flex">
                  <input type="text" class="form-control muted" id="address" name="location.address" placeholder="Dirección" />
                  <input type="hidden" id="latitude" name="location.latitude" />
                  <input type="hidden" id="longitude" name="location.longitude" />
                  <button type="button" class="btn btn-sumit ms-2" onclick="geocodeAddress()">Buscar</button>
                </div>
                <!--Mapa-->
                <div id="map-form" style="height: 150px; width: 100%;" class="rounded shadow-sm"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn" th:text="#{profile.create}">Crear evento</button>
          </div>        
        </form>
      </div> 
    </div>
  </div>
  <!-- EDITAR PERFIL DE USUARIO -->
  <div class="modal fade" id="editarPerfilModal" tabindex="-1" aria-labelledby="editarPerfilModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content p-4">
        <form th:action="@{/user/update}" method="post" enctype="multipart/form-data" th:object="${user}">
          <div class="modal-header">
            <h5 class="modal-title" id="editarPerfilModalLabel" style="font-size: 0.9rem;">Editar perfil</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" style="font-size: 0.8rem;"></button>
          </div>
          <div class="modal-body">
            <div class="row p-4">
              <!-- FOTO DE PERFIL -->
              <div class="col-12 col-md-6 modal-user-photo text-center position-relative mx-auto">
                <!-- Imagen actual -->
                <img id="preview-user-image" 
                  th:src="@{${user.image} != null ? '/uploads/icons/' + ${user.image} : '/img/icon-default.jpg'}" 
                  data-original-src="@{${user.image} != null ? '/uploads/icons/' + ${user.image} : '/img/icon-default.jpg'}" 
                  src="#" class="img-fluid" alt="Foto usuario">

                <input type="file" id="image-profile" name="imageFile" class="overlay-input" data-preview-id="preview-user-image">

                <!-- Botón sobre la imagen -->
                <label for="image" class="btn btn-sm overlay-button">
                  <i class="bi bi-camera"></i>
                </label>
              </div>
              <!-- DATOS DEL USUARIO -->
              <div class="col-12 col-md-6">
                <div class="mb-2 p-2 form-control">
                  <span class="muted mb-1" th:text="#{form.name}" style="font-size:0.7rem">Nombre completo</span>
                  <input class="form-control bg-transparent" type="text" th:field="*{name}">
                </div>
                <div class="mb-2 p-2 form-control">
                  <span class="muted mb-1" th:text="#{form.username}" style="font-size:0.7rem">Usuario</span>
                  <input class="form-control bg-transparent" type="text" th:field="*{username}">
                </div>
                <div class="mb-2 p-2 form-control">
                  <span class="muted mb-1" th:text="#{form.biography}" style="font-size:0.7rem">Biografía</span>
                  <textarea class="form-control bg-transparent" th:field="*{description}" rows="3" ></textarea>
                </div>
              
                <div class="mb-2 p-2 form-control">
                  <span class="muted mb-1" th:text="#{form.country}" style="font-size:0.7rem">País</span>
                  <input class="form-control bg-transparent" type="text" id="country" th:field="*{country}"></input>
                </div>
              </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn" th:text="#{form.save}">Guardar cambios</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- CONFIGURACIÓN -->
  <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content settings-container shadow-lg border-0 rounded-4">
        <div class="modal-header rounded-top-4">
          <h5 class="modal-title" id="settingsModalLabel" th:text="#{settings.title}">Configuración de Usuario</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/user/settings}" method="post">
            <input type="hidden" name="redirectTo" th:value="${redirectTo}" />
  
            <div class="mb-5 d-flex align-items-center m-0 p-0">
              <h5 class="fw-bold me-2" th:text="#{settings.language}">Idioma: </h5>
              <select name="language" id="language" class="form-select shadow-sm rounded-3" style="width: 200px;">
                <option value="es" th:selected="${#locale.language == 'es'}">Español</option>
                <option value="pt" th:selected="${#locale.language == 'pt'}">Portugués</option>
              </select>
            </div>

            <div class="mb-5">
              <h5 class="fw-bold mb-2" th:text="#{homepage.preferences}">Preferencias de notificación</h5>
              <p class="fst-italic small">
                Selecciona las categorías de eventos sobre las que deseas recibir notificaciones y novedades.
              </p>
              <div class="d-flex justify-content-center">
                <div class="form-check" th:each="cat : ${categories}">
                  <input class="form-check-input" type="checkbox"
                         th:id="'cat-' + ${cat.id}"
                         th:name="categoriaIds"
                         th:value="${cat.id}"
                         th:checked="${user.notificaciones.contains(cat)}">
                  <label class="form-check-label me-4" th:for="'cat-' + ${cat.id}" th:text="${cat.name}"></label>
                </div>
              </div>
            </div>

            <div class="">
              <a href="#" class="mb-2" data-bs-toggle="modal" data-bs-target="#administrarCuenta"><h5>Administrar cuenta</h5></a>
              <p class="fst-italic small">
                Cambia tus datos personales o elimina tu cuenta cuando quieras.
              </p>
            </div>
            

            <div class="modal-footer d-flex justify-content-center border-top-0 pt-4">
              <button type="button" class="btn px-4" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn px-4" th:text="#{settings.save}">Guardar cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>  
  </div>
  <!-- ADMINISTRACIÓN DE CUENTA -->
  <div class="modal fade" id="administrarCuenta" tabindex="-1" aria-labelledby="administrarCuentaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content shadow-sm border-0 rounded-4">
        <div class="modal-header rounded-top-4">
          <h5 class="modal-title" id="administrarCuentaModalLabel">Administración de la cuenta</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <form th:action="@{/user/update}" method="post">
          <div class="modal-body p-5">
            <p>Tu cuenta</p>
            <div class="mb-2 p-2 form-control">
              <span for="email" class="muted mb-1" style="font-size: 0.7rem;">Correo electrónico</span>
              <input type="email" class="form-control bg-transparent" id="email" name="email" th:value="${user.email}" placeholder="Correo electrónico">
            </div>

            <div class="mb-3 d-flex align-items-center position-relative">
              <div class="mb-2 p-2 form-control">
                <span for="password" class="muted mb-1">Contraseña</span>
                <input type="password" class="form-control bg-transparent" id="password" name="password" placeholder="*********">
              </div>
              <button type="button" class="btn btn-sumit position-absolute end-0 me-2" style="top: 50%; transform: translateY(-50%);"
                data-bs-toggle="modal" data-bs-target="#cambiarPasswordModal"> Cambiar
              </button>            
            </div>

            <p>Información personal</p>
            <div class="mb-2 p-2 form-control">
              <span for="country" class="muted mb-1">País</spna>
              <input type="text" class="form-control bg-transparent" id="pais" name="country" th:value="${user.country}">
            </div>

            <div class="mb-2 p-2 form-control">
              <label for="phone" class="muted mb-1">Teléfono</label>
              <input type="tel" class="form-control bg-transparent" id="phone" name="phone" th:value="${user.phone}">
            </div>

            <div class="mb-2 p-2 form-control">
              <label for="document" class="muted mb-1">Documento</label>
              <input type="text" class="form-control bg-transparent" id="document" name="document" th:value="${user.document}">
            </div>

            <div class="mt-4 pt-3 d-flex align-items-center">
              <div class="d-block me-5" >
                <p>Elimina tus datos y tu cuenta</p>
                <p class="muted" style="font-size: 0.95rem;">Elimina permanentemente tus datos y todo lo asociado a tu cuenta</p>
              </div>
            
              <!-- Botón que abre el modal -->
            <button type="button" class="btn btn-sm bg-danger" data-bs-toggle="modal" data-bs-target="#confirmarEliminacionModal">
              <i class="bi bi-trash"></i> Eliminar cuenta
            </button>



            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- CAMBIAR CONTRAEÑA -->
  <div class="modal fade" id="cambiarPasswordModal" tabindex="-1" aria-labelledby="cambiarPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cambiarPasswordModalLabel">Cambiar contraseña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body p-3">
          <!-- CAMBIAR CONTRASEÑA -->
          <form th:action="@{/user/change-password}" method="post">
            <div class="mb-2">
              <label>Contraseña actual</label>
              <input type="password" class="form-control muted" name="currentPassword" required>
            </div>
            <div class="mb-2">
              <label>Nueva contraseña</label>
              <input type="password" class="form-control muted" name="newPassword" required>
            </div>
            <div class="mb-2">
              <label>Confirmar nueva contraseña</label>
              <input type="password" class="form-control muted" name="confirmPassword" required>
            </div>
            <div class="sumit">
              <button type="submit" class="btn btn-sumit">Cambiar</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <!-- CONFIRMACIÓN PARA ELIMINAR CUENTA -->
  <div class="modal fade" id="confirmarEliminacionModal" tabindex="-1" aria-labelledby="confirmarEliminacionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content rounded-4 border-danger border-2">
        <div class="modal-header bg-danger rounded-top-4">
          <h5 class="modal-title d-flex align-items-center" id="confirmarEliminacionLabel">
            <svg xmlns="http://www.w3.org/2000/svg" class="me-2" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.5 1.5 0 0 0-2.964 0L.165 13.233A1.5 1.5 0 0 0 1.5 15.5h13a1.5 1.5 0 0 0 1.335-2.267L8.982 1.566zm-1.482-.933a.5.5 0 0 1 .964 0l5.853 11.667a.5.5 0 0 1-.447.7H2.13a.5.5 0 0 1-.447-.7L7.5 0.633zM8 5a.5.5 0 0 1 .5.5v3.5a.5.5 0 0 1-1 0V5.5A.5.5 0 0 1 8 5zm.002 6a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0z"/>
            </svg>
            Confirmar eliminación de cuenta
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas eliminar tu cuenta? <em>Esta acción es irreversible</em> <br><br>
            Se te enviará un correo para confirmar la eliminación.</p>
        </div>
        <div class="modal-footer">
          <form th:action="@{/user/solicitar-eliminacion}" method="post" class="d-flex justify-content-end">
            <input type="hidden" name="userId" th:value="${user.id}" />
              <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

 

  
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/script.js}"></script>
  <script th:src="@{/js/theme.js}"></script>
  <script th:src="@{/js/geo_maps.js}"></script>



</body>
</html>