<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cuenta Verificada</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/icon-nav.png">

</head>
<body class="bg-light text-center mt-5">
    <div class="container">
        <div class="alert alert-success">
            <h4 class="alert-heading">¡Cuenta verificada exitosamente!</h4>
            <p>Ya puedes iniciar sesión en el sistema.</p>
            <a href="/signin" class="btn btn-success mt-3">Iniciar sesión</a>
        </div>
    </div>
</body>
</html>
